In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from config import SPLIT_CONFIG
from sklearn.experimental import enable_iterative_imputer 
from sklearn.impute import IterativeImputer

In [2]:
stations = ['Centar', 'Karpos', 'Lisice', 'Rektorat', 'Miladinovci']

In [3]:
df_extras = pd.read_csv('./data/extras', index_col = 0)
df_extras.head()

,hour_sin,hour_cos,weekday_sin,weekday_cos,month_sin,month_cos,weekend,holiday
2000-01-01 00:00:00,0.000000,1.000000,-0.974928,-0.222521,0.0,1.0,1,1
2000-01-01 01:00:00,0.258819,0.965926,-0.974928,-0.222521,0.0,1.0,1,1
2000-01-01 02:00:00,0.500000,0.866025,-0.974928,-0.222521,0.0,1.0,1,1
2000-01-01 03:00:00,0.707107,0.707107,-0.974928,-0.222521,0.0,1.0,1,1
2000-01-01 04:00:00,0.866025,0.500000,-0.974928,-0.222521,0.0,1.0,1,1

In [4]:
for station in stations:
    df_sensor = pd.read_csv(f'./data/truncated-sensor/{station}', index_col=0)
    df_weather = pd.read_csv(f'./data/truncated-weather/{station}', index_col=0)
    df = df_sensor.join(df_extras)
    df = df.join(df_weather)
    df.index = pd.to_datetime(df.index)
    df.to_csv(f'./data/first-order/{station}', index=True)